* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: rgba(201, 204, 230, 0.5);
    color: #212121;
    font-size: 12px;
    line-height: 1.5;
    overflow-y: scroll;
    overflow-x: hidden;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

input {
    font-size: 12px;
    border-radius: 5px;
    outline: solid 2px rgb(185, 187, 197);
    height: 40px;
    background-color: rgba(231, 232, 241, 0.5);
}

button {
    background-color: rgb(185, 187, 197);
    border: 2px solid #d8d6d2;
    border-radius: 30px;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 12;
    padding: 0 18px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus {
    background-color: #fff;
}

.link {
    text-decoration: none;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 24px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;


}

.search-form {
    font: inherit;
    max-width: 320px;
    margin-bottom: ;

}

.load-btn {}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-right: -20px;
    margin-bottom: -20px;
    padding: 10px;

}

.gallery__item {
    width: 290px;
    height: 320px;
    overflow: hidden;
    flex-basis: calc(100% / 4 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #d8d6d2;
    border-radius: 5px;
    transform: scale(1);
    transition-property: box-shadow, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover,
.gallery__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.1);
    z-index: 1;
}

.gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}